# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

#credentials
*/tls-certs/*
*/credentials/*
cert-permissions.sh
PRIVATE.json

# backend services
*.test
*.out
go.work

# frontend service
frontend-service/node_modules
frontend-service/.pnp
frontend-service/.pnp.js
*/coverage
frontend-service/build
frontend-service/.DS_Store
frontend-service/.env
frontend-service/.env.local
frontend-service/.env.development.local
frontend-service/.env.test.local
frontend-service/.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VS code
.idea/
*.VSCodeCounter/

# misc
*.firebase
*.cache
*.cache
*.firebase/hosting.YnVpbGQ.cache
